body {
    padding-top: 70px;

    background-color: #333333;
    color: #eeeeee;
}

.btn {
    text-align: center;
}

.btn.active {
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.60) inset;
}

.albums .selected {
    border: 2px solid rgba(100, 100, 240, 1);
    box-shadow: 0px 2px 5px rgba(100, 100, 240, 0.60) inset;
}
/*
.albums {
    margin: 1em 4em;

    overflow: auto;
    height: 360px;
    text-align: center;
}
*/
.album-icon {
    width: 160px;
    height: 168px;

}

.album-icon span {
    position: relative;
    color: gray;
    top: 90%;
}
