<div ng-show='user' class='container-fluid' ng-controller='AlbumsListCtrl'>
    <form name='main' ng-submit='submit()'>
    <div class="row albums">
        <div ng-repeat="album in albumsList" class='col-md-4 col-sm-6 col-xs-6 form-group button-group'>
            <fb-image label="{{album.name}}" reference="{{album.cover_photo}}">
                <span ng-show="false">{{facebook.selectedAlbum(album, selected)}}</span>
                <span>{{album.name}}</span>
            </fb-image>
        </div>
    </div>
    </form>
</div>
