<div ng-show='user' class='container-fluid'>
    <form name='main' ng-submit='submit()'>
    <div class="row albums">
        <div class="col-md-3 col-sm-4 col-xs-6" data-toggle='modal' data-target='#addNewAlbum'>
            <div class='row'>
                <div album-tile class='col-md-11 col-sm-11 col-xs-9'>
                    <span class='glyphicon glyphicon-plus' style='padding-top: calc(50% - .6em)'></span>
                </div>
            </div>
        </div>
        <div ng-repeat="album in albums" ng-click="$location.path (album.id + '/pictures')" class="col-md-3 col-sm-4 col-xs-6">
            <div class='row'>
                <div album-tile class='col-md-11 col-sm-11 col-xs-9' >
                    <div style="background: transparent url(data:image/png;base64,{{album.cover}}) no-repeat center center scroll; height: 100%;">
                        <span class='title' >{{album.name}}</spann> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <div class="modal fade" id='addNewAlbum' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">You are about to add a new album</h4>
          </div>
          <div class="modal-body">
            <p ng-show='needsPhotoPermission' class="alert alert-info">
                In order to create your new intractive album, the SimpleLife app needs your permission to retreive 
                your Facebook&copy; albums. 
                <button ng-click="grantFbPhotoPermission()">Please click here to grant this permission.</button>
            </p>
            <div ng-if="needsPhotoPermission == false" class="container-fluid">
                <ng-include src="templateUrl"></ng-include>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click='saveSelectedAlbums()'>Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

