<html lang="en" ng-app="simpleLifeApp">
    <head>
    </head>
    <body>
        <script language='javascript' type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js'></script>
        <script language='javascript' type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-route.min.js'></script>
        <script language='javascript' type='text/javascript' src='/static/scripts/app.js'></script>
        <script language='javascript' type='text/javascript' src='/static/scripts/controllers.js'></script>
         
        <div class='context'>  
            <div class='header'>
                <fb:login-button autologoutlink="true" scope="publish_stream,user_photos"></fb:login-button>
            </div>

            <div id='fb-root'></div>
            <div ng-view></div>
        </div>
    </body>
</html>
